.nav-item {
    margin-right: 20px; /* Ajusta el valor según la cantidad de espacio deseado */
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Ajusta la altura según tus necesidades */
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
